<section class="container dashbord">
    <div class="estilo"></div>
    <div class="d-flex justify-content-center">
      <div class="d-flex p-2">
        <h2 class="titulo">Pontos do Boliche</h2>
      </div>
    </div>

    <div class="row text-center" *ngIf="service.somatorio">
      <div class="col-md-12">
        <h3>
          Total de pontos: {{ service.somatorio }}
          <hr>
          Rodada atual: {{ service.rodada }}
          <hr>
          Pontuação máxima: {{ service.save }}
        </h3>
      </div>
    </div>

    
    <form class="form" [formGroup]="user">
          
      <div class="form-group col-md-12">
        <label for="point">Pontos:</label>
        <input type="number" class="form-control" id="point" formControlName="point" style="background: linear-gradient(#f1f1f1, #ffffff); box-shadow: 0px 2px 12px grey;">
      </div>
      
      <div class="d-flex justify-content-center">
        <button (click)="onSubmit()" type="submit" class="btn btn-primary">finalizar jogada</button>
      </div>
      
    </form>

    <!-- <div *ngFor="let items of tabela">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-row">
            <div class="p-2">
              {{ items }}
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-dark" style="margin-top: 20px">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">valor da Jogada</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of tabela, let i = index;">
              <th scope="row"> {{ i + 1 }} </th>
              <td *ngIf="items != 'NaN'">{{ items }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

        
  </section>


  