<section class="container dashbord">
    <div class="estilo"></div>
    <div class="d-flex justify-content-center">
      <div class="d-flex p-2">
        <h2 class="titulo">Pontos do Boliche</h2>
      </div>
    </div>

    <div class="row text-center" *ngIf="service.totalOfPoints">
      <div class="col-md-12">
        <h3>
          Total de pontos: {{ service.totalOfPoints }}
        </h3>
      </div>
    </div>

    
    <form class="form" [formGroup]="user">
          
                    
          <div class="form-group col-md-6">
            <label for="point">Pontos:</label>
            <input type="number" class="form-control" id="point" formControlName="point">
          </div>

      
        <div class="row">

          <div class="btn-group btn-group-toggle">
            <button (click)="onSubmit()" type="submit" class="btn btn-primary">Enviar pontos</button>
          </div>
      
        </div>

    </form>

  </section>


  